.login-body{
    height: calc(100vh - 86px);
    display: flex;
    width: 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.login-form{
    background: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
}

.textField{ 
    width: 300px;
}

.submitButton{
    margin-top: 20px;
}

.submitButton:disabled{
    cursor: not-allowed;
    background: #ccc;
}

@media (max-width: 424px){
    .login-form{
        padding: 10px;
    }
}