.container {
  display: flex;
  flex: 9;
  justify-content: center;
  padding: 10px;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.form{
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 20px;
}

.imgContainer {
    width: 70%;
    margin: 0 auto;
}

.imgContainer > img {
    width: 100%;
}

.uploadIcon{
    color: #1D3557;
    font-size: 24px;
}

.uploadIcon:hover{
    cursor: pointer;
    color: #9CBDD3;
}

.createBtn{
  margin: 0 auto;
  background-color: #1D3557 !important;
}

.createBtn:disabled{
  background-color: #C7D9E6 !important;
}


@media (max-width: 550px){
  .container{
    width: 100%;
  }

  .form{
      display: block;
      min-width: 50px;
  }
}