.container{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background: url(../../assets//imgs/black_marbel.jpg);
    background-size: cover;
    color: #fff;
    min-height: 300px;
    justify-content: center;
}

.names{

    /* position: absolute; */
    /* margin: 20px 50%;
    transform: translate(-50%, 0%) */
}

.myName{
    font-size: 15px;
}

.appName{
    font-size: 75px;
}

@media (max-width: 440px){
    .appName{
        font-size: 50px;
        z-index: 100;
    }
}