.container{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    /* background: url(../../assets//imgs/abstract3.jpg); */
    background: #1D3557;
    background-size: cover;
    color: #fff;
    height: 70vh;
    justify-content: center;
}

.names{

    /* position: absolute; */
    /* margin: 20px 50%;
    transform: translate(-50%, 0%) */
}

.myName{
    font-size: 15px;
    
}

.appName{
    font-size: 75px;
    line-height: 1.2;
    letter-spacing: -4px;
}

@media (max-width: 440px){
    .appName{
        font-size: 50px;
        z-index: 100;
    }
}