.wrapper{
    display: flex;
    flex: 8;
    justify-content: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.imgContainer{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.imgContainer > img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.mainInfo{
    text-align: left;
    width: 90vw;
    max-width: 900px;
    overflow-wrap: break-word;
}

.mainInfo > h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #1D3557;
}

.icons{
    font-size: 25px;

}

.description{
    font-size: 24px;
    line-height: 1.5;
    color: #1D3557;
}

.author > h3{
    font-size: 18px;
    color: #1D3557;
}


.icons:hover{
    cursor: pointer;
}

.icons:first-child{
    color: #1D3557;
    margin-right: 10px;
}

.icons:first-child:hover{
    color: #9CBDD3;
}

.icons:last-child{
    color: #E63946;
}

.icons:last-child:hover{
    color: #9CBDD3;
}
