.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  background: #d1def0;
}

.container:last-child {
  margin-left: auto;
}

.loader {
  margin: 0 auto;
}

@media (max-width: 666px) {
  .container {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 5px;
    justify-content: flex-start;
  }
}
