.container{
    display: flex;
    flex: 9;
    flex-direction: column;
    padding: 10px;
}

.imgContainer{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.imgContainer > img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.mainInfo{
    text-align: left;
}

.description{
    font-size: 18px;
}

.icons:hover{
    cursor: pointer;
}

.icons:first-child{
    color: #507ac7;
    margin-right: 10px;
}

.icons:first-child:hover{
    color: #000;
}

.icons:last-child{
    color: #c75050;
}

.icons:last-child:hover{
    color: #000;
}