.container{
    flex: 2;
    text-align: left;
    padding: 10px;
}

.container > h1{
    text-decoration: underline;
}

.container > p{
    font-size: 1.2rem;
}

.imgContainer{
    width: 100%;
}

.imgContainer > img{
    width: 100%;
}

.categoryList{
    list-style: none;
}

.categoryList > li{
    display: inline-block;
    margin-right: 5px;
}

.categoryList > li:last-child{
    margin: 0;
}