.container {
  display: flex;
  flex: 9;
  justify-content: center;
  padding: 10px;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 20px;
}

.form > input {
  display: none;
}

.imgContainer {
  width: 70%;
  margin: 0 auto;
}

.imgContainer > img {
  width: 100%;
}

.uploadIcon {
  color: #1539db;
  font-size: 24px;
}

.uploadIcon:hover {
  cursor: pointer;
  color: #43adce;
}

button {
  margin: 0 auto;
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }

  .form {
    min-width: 50px;
  }
}
