.navbar{
    align-items: center;
}

/* .menuBtn{
    margin: 0;
}

.nav-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
}

.nav-link{
    text-align: center;
} */

/* BREAK POINTS */  

/* @media (max-width: 850px) {
    .nav-body{
        flex-direction: column-reverse;

    }
}

@media (max-width: 666px) {
    .nav-body{
        position: relative;

    }
} */