.list-body {
  font-size: 20px;
  display: flex;
  flex: 9;
  justify-content: center;
  text-transform: capitalize;
}

.list-body > li {
  list-style: none;
  margin-right: 10px;
}

.list-body li:last-child {
  margin-right: 0;
}
