.links-container{
    display: flex;   
    flex: 1; 
}

.links-container > li {
    list-style: none;
    margin-right: 10px;
}

.links-container li:last-child{
    margin-right: 0;
}

.icon-container{
    width: 30px;
}

.icon-container > img {
    width: 100%;
}