.links-container {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
  margin: auto;
  font-size: 40px;
}

.links-container i:hover {
  cursor: pointer;
  color: #fff;
}

.links-container a {
  margin: 0;
}

.links-container > li {
  list-style: none;
  margin-right: 10px;
}

.links-container li:last-child {
  margin-right: 0;
}

@media (max-width: 991px) {
  .links-container {
    margin-top: 2vh;
    justify-content: center;
  }
}
