.links-container{
    display: flex;  
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    margin: auto;
}

.links-container a{
    margin: 0;
}

.links-container > li {
    list-style: none;
    margin-right: 10px;    
}

.links-container li:last-child{
    margin-right: 0;
}

.icon-container{
    width: 30px;
}

.icon-container > img {
    width: 100%;
}

@media (max-width: 991px) {
    .links-container{
        margin-top: 2vh;
        justify-content: center;
    }
}